
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.infoboxstyle {
    white-space: nowrap;
    border-radius: 3px; 
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

#infow {
    padding: 5px;
    padding-right: 20px;
    font-size: small;
}

.square {
	width: 40px;
	height: 30px;
	float: left;
	margin: 0px;
	padding: 0px 0px;
	color: #000;
	background: #fff;
}

#rootGrid {
    height: 100%;
    padding: 0;
}

#mapdisplay {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
}


#inputFrame {
    position: fixed;
    top: 5px;
    left: 10px;
    margin: 0 auto;
    width: 1000px;
    z-index: 1;
    background-color: transparent;
    max-height: 608px;
}

#loading {
    float: left;
    background-color: black;
    opacity: 0.5;
    border-radius: 3px;
}

.boxes {
    margin: 0;
    padding: 0;
    line-height: 2em;
    height: 30px;
    width:150px;
    float: left;
    text-indent: 5px;
    font: arial;
}

#personid {
    height: 28px;
    width: 80px;
    border: 1px solid white;
    /*border-radius: 2px 0px 0px 2px;*/ 
    /*box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.5);*/
}

#prompt {
    height: 18px;
    width: 100px;
    float:left;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px 0px 0px 2px; 
    padding: 5px;
    padding-right:0;
    font-family: helvetica, arial, sans serif;
    font-weight: bold;
    font-size: small;
    color: dodgerblue;
    /*box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.5);*/
}

#personid:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

#genSelect {
    border: 1px solid white;
    border-radius: 2px 0px 0px 2px;
    text-indent: 0;
}

    #genSelect:focus {
        border: 1px solid green;
        outline: none;
    }

#username {
    outline: none;
    border: none;
    border-radius: 2px 0px 0px 2px; 
    font-weight: bold;
}

.hoverdiv {
    float: left;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 3px; 
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

.hover {
    float: left;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

.buttons {
    height: 30px;
    width: 75px;
}

    .bluebutton {
        height: 30px;
        width: 75px;
        background-color: dodgerblue;
        color: white;
        border: 1px solid dodgerblue;
        border-radius: 2px;     
        margin-right: 5px;
    }

        .bluebutton:hover {
            background-color: rgba(36,162,255,1);
            border: 1px solid rgba(36,162,255,1);
        }

        .bluebutton:active {
            background-color: rgba(24,126,255,1);
            border: 1px solid rgba(24,126,255,1);
        }

    .greenbutton {
        height: 30px;
        width: 75px;
        background-color: green;
        color: white;
        border: 1px solid green;
        border-radius: 2px;     
        margin-right: 5px;
    }

        .greenbutton:hover {
            background-color: rgba(0,146,0,1);
            border: 1px solid rgba(0,146,0,1);
        }

        .greenbutton:active {
            background-color: rgba(0,110,0,1);
            border: 1px solid rgba(0,110,0,1);
        }

#populateUser {
    float: left;
    background-color: dodgerblue;
    color: white;
    z-index:2;
    margin: 0;
    border: 1px solid dodgerblue;
    border-radius: 0px 2px 2px 0px; 
    height: 30px;
    width: 35px;
   /* box-shadow: 2px 0px 5px -2px rgba(100, 100, 100, 0.5) inset; */
}

        #populateUser:hover {
            background-color: rgba(36,162,255,1);
            border: 1px solid rgba(36,162,255,1);
        }

        #populateUser:active {
            background-color: rgba(24,126,255,1);
            border: 1px solid rgba(24,126,255,1);
        }

#logoutbutton {
    background-color: darkred;
    color: white;
    border: 1px solid darkred;
    border-radius: 0px 2px 2px 0px; 
    height: 30px;
    width: 60px;
    float: left;
    margin: 0;
}

        #logoutbutton:hover {
            background-color: rgba(157,0,0,1);
            border: 1px solid rgba(157,0,0,1);
        }

        #logoutbutton:active {
            background-color: rgba(121,0,0,1);
            border: 1px solid rgba(121,0,0,1);
        }

#loginbutton {
    background-color: #003e97;
    color: white;
    border: 1px solid #003e97;
    border-radius: 2px; 
    height: 50px;
    width: 100px;
    float: left;
    margin: 0;
}

        #loginbutton:hover {
            background-color: #003ea9;
            border: 1px solid #003ea9;

        }

        #loginbutton:active {
            background-color: #358ee6;
            border: 1px solid #358ee6;
        }

.runButton {
    float: left;
    background-color: green;
    color: white;
    border: 1px solid green;
    margin: 0;
    border-radius: 0px 2px 2px 0px; 
    height: 30px;
    width: 45px;
}

        .runButton:hover {
            background-color: rgba(0,134,0,1);
            border: 1px solid rgba(0,134,0,1);
        }

        .runButton:active {
            background-color: rgba(0,122,0,1);
            border: 1px solid rgba(0,122,0,1);
        }

.disabledRunButton {
    float: left;
    background-color: gray;
    color: lightgray;
    border: 1px solid gray;
    margin: 0;
    border-radius: 0px 2px 2px 0px; 
    height: 30px;
    width: 45px;
}

#tt {
 position:absolute;
 display:block;
 z-index: 99;
 background-color: black;
 border-radius: 3px;
 opacity: 0.7;
 padding: 6px 8px 6px 8px;
 color: #eeeeee;
 font-family: helvetica, arial, sans serif;
 font-size: smaller;
 font-weight: bold;
 }

#lowerbuttonframe {
    position: fixed;
    bottom: 20px;
    right: 5px;
    margin: 0 auto;
    width: 1000px;
    z-index: 1;
    background-color: transparent;
    max-height: 608px;
}

#faqbutton {
    background-color: darkred;
    color: white;
    border: 1px solid darkred;
    border-radius: 2px; 
    height: 30px;
    width: 45px;
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

        #faqbutton:hover {
            background-color: rgba(157,0,0,1);
            border: 1px solid rgba(157,0,0,1);
        }

        #faqbutton:active {
            background-color: rgba(121,0,0,1);
            border: 1px solid rgba(121,0,0,1);
        }

#feedbackbutton {
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
    border-radius: 2px; 
    height: 30px;
    width: 70px;
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

        #feedbackbutton:hover {
            background-color: rgba(36,162,255,1);
            border: 1px solid rgba(36,162,255,1);
        }

        #feedbackbutton:active {
            background-color: rgba(24,126,255,1);
            border: 1px solid rgba(24,126,255,1);
        }

#donatebutton {
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2px; 
    height: 30px;
    width: 65px;
    float: right;
    margin: 0;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

        #donatebutton:hover {
            background-color: rgba(0,134,0,1);
            border: 1px solid rgba(0,134,0,1);
        }

        #donatebutton:active {
            background-color: rgba(0,122,0,1);
            border: 1px solid rgba(0,122,0,1);
        }
