
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#alertDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 9999;
}

#alertText {
    position:absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    color: black;
    font: bold 14px arial;
}

#infow {
    white-space: nowrap;
    max-height: 500px;
    background-color: white;
    border: 1px solid darkgray;
    padding: 15px;
}

.person {
    white-space: nowrap;
    clear: both;
    margin-bottom: 10px;
}

.person .profile-image {
    width: 44px;
    height: 44px;
    display: inline-block;
}

.person .label {
    display: inline-block;
    width: 44px;
    font: 13px arial;
    font-weight: lighter;
    text-align: right;
}

.person .box {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font: 14px arial;
}

.person .box .xlarge {
    font: 22px arial;
    font-family: Rockwell, "Book Antiqua", Palatino, serif;
    margin-bottom: 2px;
}

.person .box .large {
    font: 14px arial;
}

.person .box .small {
    font: 12px arial;
    color: #666666;
}

.square {
	width: 40px;
	height: 30px;
	float: left;
	margin: 0px;
    margin-left: 5px;
	padding: 0px 0px;
	color: #000;
	background: #fff;
}

#rootGrid {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#adDiv {
    height: 100%;
    white-space: nowrap;
    float: right;
    /*padding-left: 20px;*/
    /*box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8) inset;*/
}

#bigDiv {
    width: 100%;
    height: 100%;
    background-color: #e5e3df;
}

#mapdisplay {
    margin: 0;
    padding: 0;
    height: inherit;
    width: inherit;
}


#inputFrame {
    position: fixed;
    top: 5px;
    left: 0px;
    margin: 0 auto;
    white-space: nowrap;
    z-index: 1;
    background-color: transparent;
    /*max-width: 610px;*/
}

#loading {
    float: left;
    background-color: black;
    opacity: 0.5;
    border-radius: 3px;
}

.boxes {
    margin: 0;
    padding: 0;
    line-height: 2em;
    height: 30px;
    /*width:150px;*/
    float: left;
    text-indent: 5px;
    font: arial;
}

#personid {
    height: 28px;
    width: 80px;
    border: 1px solid white;
}

#prompt {
    padding-right:0;
    color: dodgerblue;
}

#personid:focus {
    border: 1px solid dodgerblue;
    outline: none;
}

#genSelect {
    border: 1px solid white;
    border-radius: 0px 0px 0px 0px;
    text-indent: 0;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    #genSelect:focus {
        border: 1px solid green;
        outline: none;
    }

.labelbox {
    height: 18px;
    white-space: nowrap;
    float:left;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 0px 0px 0px; 
    padding: 5px;
    font-family: helvetica, arial, sans serif;
    font-weight: bold;
    font-size: small;
}

#username {
}

.hoverdiv {
    float: left;
    z-index: 1;
    margin-left: 5px;
    margin-bottom:5px;
    background-color: transparent;
    border-radius: 3px; 
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
}

#copyButton {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    cursor: pointer;
}

    #copyButton:hover {
        opacity: 1;
    }

#fsButton {
    margin-left: 5px;
    width: 22px;
    height: 22px;
    opacity: 0.75;
    vertical-align: top;
    cursor: pointer;
}

    #fsButton:hover {
        opacity: 1;
    }

#ebutton {
    height:38px;
    width:55px;
    float:right;
    opacity:0.5;
    cursor: pointer;
}

    #ebutton:hover {
        opacity: 1;
    }

#trashcan {
    opacity: 0.5;
    cursor: pointer;
}

    #trashcan:hover {
        opacity:1;
    }

.button {
    white-space: nowrap;
    height: 30px;
    border-radius: 2px;     
    color: white;
    margin: 0;
}

    .button.blue {
        background-color: dodgerblue;
        border: 1px solid dodgerblue;
    }

        .button.blue:hover {
            background-color: rgba(36,162,255,1);
            border: 1px solid rgba(36,162,255,1);
        }

        .button.blue:active {
            background-color: rgba(24,126,255,1);
            border: 1px solid rgba(24,126,255,1);
        }

    .button.red {
        background-color: darkred;
        border: 1px solid darkred;
    }

        .button.red:hover {
            background-color: rgba(157,0,0,1);
            border: 1px solid rgba(157,0,0,1);
        }

        .button.red:active {
            background-color: rgba(121,0,0,1);
            border: 1px solid rgba(121,0,0,1);
        }

    .button.green {
        background-color: green;
        border: 1px solid green;
    }

        .button.green:hover {
            background-color: rgba(0,140,0,1);
            border: 1px solid rgba(0,140,0,1);
        }

        .button.green:active {
            background-color: rgba(0,116,0,1);
            border: 1px solid rgba(0,116,0,1);
        }

    .button.disabled {
        background-color: gray;
        color: lightgray;
        border-radius: 0px 2px 2px 0px; 
        border: 1px solid gray;
    }

#populateUser {
    border-radius: 2px 0px 0px 2px; 
    float: left;
    cursor: pointer;
}


#logoutbutton {
    border-radius: 0px 2px 2px 0px; 
    cursor: pointer;
}

#runButton {
    border-radius: 0px 2px 2px 0px; 
    cursor: pointer;
}

#expandButton {
    float:right;
    cursor: pointer;
}

#idButton {
    float:left;
    cursor: pointer;
}

#loginbutton {
    background-color: #003e97;
    color: white;
    border: 1px solid #003e97;
    border-radius: 2px; 
    height: 50px;
    width: 100px;
    float: left;
    margin: 0;
    white-space: normal;
    cursor: pointer;
}

        #loginbutton:hover {
            background-color: #003ea9;
            border: 1px solid #003ea9;

        }

        #loginbutton:active {
            background-color: #358ee6;
            border: 1px solid #358ee6;
        }


#tt {
     position:absolute;
     display:block;
     z-index: 99;
     background-color: rgba(0,0,0,0.7);
     border-radius: 3px;
     padding: 6px 8px 6px 8px;
     color: #eeeeee;
     font-family: helvetica, arial, sans serif;
     font-size: smaller;
     font-weight: bold;
 }

#pedigreeWrapper {
    padding: 10px;
    padding-right: 20px;
    background-color: rgba(20,20,20,0.8);
    max-height: 400px;
    overflow-y: auto;
}

#pedigreeChart {
    padding-right: 25px;
    color: white;
    font-family: helvetica, arial, sans serif;
    /*font-size: small;*/
    /*font-weight: bold;*/
    line-height : 1.5;
}
    #pedigreeChart ul {
        margin:0 0 0 -1.5em;
        padding:0 0 0 1.5em;
    }

        #pedigreeChart ul ul ul{
            background:url('../images/list-item-contents.png') repeat-y left;
        }
        
        #pedigreeChart li.lastChild > ul{
            background-image:none;
        }

    #pedigreeChart li {
        margin:0;
        padding:0;
        background: url('../images/list-item-root.png') no-repeat top left;
        cursor:auto;        
    }


    #pedigreeChart li.Male{
        list-style-image:url('../images/openMale.png');
        list-style-position:inside;
    }

    #pedigreeChart li.Female{
        list-style-image:url('../images/openFemale.png');
        list-style-position:inside;
    }

#pedigreeChart li.collapsibleListOpen.Male {
    list-style-image:url('../images/minMale.png');
    list-style-position:inside;
    cursor:pointer;
}

#pedigreeChart li.collapsibleListClosed.Male {
    list-style-position:inside;
    list-style-image:url('../images/expandMale.png');
    cursor:pointer;
}

#pedigreeChart li.collapsibleListOpen.Female {
    list-style-position:inside;
    list-style-image:url('../images/minFemale.png');
    cursor:pointer;
}

#pedigreeChart li.collapsibleListClosed.Female {
    list-style-position:inside;
    list-style-image:url('../images/expandFemale.png');
    cursor:pointer;
}

#pedigreeChart li.Male.lastGen {
    list-style-position:inside;
    list-style-image:url('../images/openMale.png');
    cursor:auto;
}

#pedigreeChart li.Female.lastGen {
    list-style-position:inside;
    list-style-image:url('../images/openFemale.png');
    cursor:auto;
}

#pedigreeChart li li {
    background-image:url('../images/list-item.png');
    padding-left:1.5em;
}

#pedigreeChart li.lastChild {
    background-image:url('../images/list-item-last.png');
}

#pedigreeChart li.collapsibleListOpen {
    background-image:url('../images/list-item-open.png');
}

#pedigreeChart li.collapsibleListOpen.lastChild {
    background-image:url('../images/list-item-last-open.png');
}

#pedigreeChart li.Root {
    background:url('../images/list-item-root.png') no-repeat top left;
    cursor:auto;     
}

#pedigreeChart li.Root.collapsibleListClosed {
    background:none;
    cursor:pointer;     
}

#lowerbuttonframe {
    position: relative;
    bottom: 50px;
    right: 5px;
    margin: 0 auto;
    white-space: nowrap;
    z-index: 1;
    background-color: transparent;
}

#faqbutton {
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#feedbackbutton {
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#donatebutton {
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#blogbutton {
    float: right;
    margin-left: 5px;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.8);
    cursor: pointer;
}

#pledgiebutton {
    float: right;
    margin-left: 7px;
}

@media only screen
and (max-width: 830px) {
    #adDiv { display: none}
}

@media only screen
and (max-height: 601px) {
    #adDiv { display: none}
}

@media print {
    #inputFrame { display: none }
    #lowerbuttonframe { display: none }
}
